<div class="channel-window">
    <div class="channel-messages">
        <ul>
            <li ng-repeat="channelMessage in channelMessages">{{channelMessage}}</li>
        </ul>
    </div>
    <div class="post-channel-message">
        <input type="text" ng-model="channelMessageText" placeholder="Message.."/>
        <input type="file" fileRead="attachedFile" />

        <input ng-click="postChannelMessage({   
                                                Text: channelMessageText, 
                                                FileContent: attachedFile.src, 
                                                Size: attachedFile.size 
                                            })" type="submit"/>
    </div>
    <div class="online-users"  style="border: 1px solid black" ng-include="'Partials/chat-users-list.html'"></div>
</div>