<section id="onlineUsers">
    <h3>Online users: </h3>
    <div ng-repeat="user in channelOnlineUsers" class="list-group">
        <label>{{user.UserName}}</label>
        <input type="file" fileRead="userMessageData.FileContent"/>
        <input type="text" ng-model="userMessageData.Text" class="input-sm"/>
        <button ng-click="postPrivateMessage(user.UserName, user.ConnectionId, userMessageData)"
                class="btn btn-success btn-sm">
            Send
        </button>
    </div>
</section>

