<div ng-include="'Partials/navbar.html'"></div>
<aside class="new-messages" ng-include="'Partials/new-messages.html'"></aside>

<section id="channelsScreen">
    <h2>Available Channels</h2>
    <div ng-repeat="channel in channels" class="list-group">
        <a href="#/channel/{{channel.name}}" class="list-group-item">{{channel.name}}</a>
    </div>

    <input type="text" ng-model="newChannelName" placeholder="Add new channel" class="input-sm"/>
    <button ng-click="addNewChannel({name: newChannelName})" class="btn btn-success btn-sm">Add</button>
</section>
<aside class="friends" style="padding: 2%" ng-include="'Partials/user-messages-users.html'"></aside>