<div class="channel-window">
    <div class="channel-messages">
        <ul>
            <li ng-repeat="channelMessage in channelMessages">{{channelMessage}}</li>
        </ul>
    </div>
    <div class="post-channel-message">
        <input type="text" ng-model="channelMessageContent" value="" placeholder="Message.." /><br/>
        <input ng-click="postChannelMessage({Content: channelMessageContent})" type="submit"/>
    </div>
    <div class="online-users" ng-include="'Partials/chat-users-list.html'"></div>
</div>