<div ng-include="'Partials/navbar.html'"></div>
<aside class="new-messages" ng-include="'Partials/new-messages.html'"></aside>
<aside class="online-users" style="padding: 2%" ng-include="'Partials/chat-users-list.html'"></aside>
<section class="channel-window" >
    <h2>{{currentChannel}}</h2>
    <div class="channel-messages">
        <div ng-repeat="channelMessage in channelMessages" class="list-group">
            <a href="" class="list-group-item">
                <div class="date">{{channelMessage.dateSent | date}}</div>
                <br/>
                {{channelMessage.sender}} said: {{channelMessage.text}}
                <a href="" ng-if="channelMessage.containsFile" ng-click="getChannelMessageById(channelMessage.id)">Download attached file</a>
            </a>

        </div>
    </div>
    <div class="post-channel-message">
        <input type="file" fileRead="channelMessageData.FileContent"/>
        <input type="text" ng-model="channelMessageData.Text" placeholder="Message.." class="input-sm"/>
        <input ng-click="postChannelMessage(channelMessageData)" type="submit" value="Send"
               class="btn btn-success btn-sm"/>
    </div>
</section>
<aside class="friends" style="padding: 2%" ng-include="'Partials/user-messages-users.html'"></aside>