<div ng-include="'Partials/navbar.html'"></div>
<aside ng-include="'Partials/new-messages.html'"></aside>
<aside class="online-users" style="padding: 2%" ng-include="'Partials/channels-overview.html'"></aside>

<section class="private-window">
    <div class="private-user">
        <h3>
            {{currentUserChat}}
        </h3>
    </div>
    <div class="private-messages">
        <div class="private-messages-content">
            <div ng-repeat="privateMessage in userMessages" class="list-group">
                <a href="" class="list-group-item" ng-if="currentUserChat == privateMessage.sender">
                    <div class="date">{{privateMessage.dateSent | date}}</div>
                    <br/>
                    <span>{{privateMessage.sender}} said: </span>
                     <span class="white-font said">{{privateMessage.text}} </span>
                    <a href="" ng-if="privateMessage.containsFile" ng-click="getUserMessageById(privateMessage.id)">Download attached file</a>
                </a>
                <a href="" class="list-group-item author" ng-if="currentUserChat != privateMessage.sender">
                    <div class="date">{{privateMessage.dateSent | date}}</div>
                    <br/>
                    <span class="white-font said-text">Me: {{privateMessage.text}} </span>
                    <a href="" ng-if="privateMessage.containsFile" ng-click="getUserMessageById(privateMessage.id)">Download attached file</a>
                </a>
            </div>
        </div>
        <div class="post-private-message">
            <input type="file" fileRead="userMessageData.FileContent"/>
            <input type="text" ng-model="userMessageData.Text" class="input-sm"/>
            <button ng-click="postPrivateMessage(currentUserChat, userMessageData)"
                    class="btn btn-success btn-sm">
                Send
            </button>
        </div>
    </div>
</section>
<aside class="friends" style="padding: 2%" ng-include="'Partials/user-messages-users.html'"></aside>