/*Welcome page*/
/*Register screen*/
#registerScreen{
    margin: 10% auto;
    width: 25%;
    text-align: center;
}

#registerScreen > input{
    margin-bottom: 2%;
}

/*Login screen*/
.login-form{
    display: inline-block;
    margin-right: 3%;
}
.login-form > input{
     display: inline-block;
     width: 40%;
 }

/*Channels screen*/
#channelsScreen{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

#channelsScreen > h2{
    text-align: center;
    margin-bottom: 2%;
}

#channelsScreen > input{
    width: 70%;
}

#channelsScreen > button{
    width: 15%;
}

/*Channels screen*/
.channel-window{
    margin: 0 auto;
    width: 40%;
    position: absolute;
    bottom: 5%;
    left: 25%;
}

.channel-window > .post-channel-message {
    float: right;
    display: inline-block;
}

.channel-window > .post-channel-message > input {
     display: inline-block;
 }

.channel-window > .post-channel-message > input[type="file"] {
    width: 35%;
}

.channel-window > .post-channel-message > input[type="text"] {
    width: 50%;
}

.channel-window div.date {
    font-size: 0.8em;
}

/*Online users*/
.online-users{
    float: right;
    margin-right: 10%;
}
.new-messages{
    float: left;
    margin-left: 10%;
}

#onlineUsers{
}

/*Private chats*/
.private-window{
    margin: 0 auto;
    width: 40%;
    position: absolute;
    bottom: 5%;
    left: 25%;
}

.private-window .post-private-message {
    float: right;
}

.private-window .post-private-message > input {
    display: inline-block;
}

.private-window .post-private-message > input[type="file"] {
    width: 35%;
    display: inline-block !important;
}

.private-window .post-private-message > input[type="text"] {
    width: 50%;
}

.private-window div.date {
    font-size: 0.8em;
}

.chat-private-user{
    float: right;
}
.private-user h3{
    margin-left: 40px;
}
#accordion{
    position: relative;
    bottom: 0;
}

.friends{
    position: absolute;
    top: 10%;
}

.white-font{
    color: white;
}

.said{
    font-size: 1.25em;
}

a.author{
    background-color: #444444;
    padding-bottom: 7%;
}

a.author > div.date{
    float: right;
}

a.author > span{
    float: right;
}