/*Welcome page*/
/*Register screen*/
#registerScreen{
    margin: 10% auto;
    width: 25%;
    text-align: center;
}

#registerScreen > input{
    margin-bottom: 2%;
}

/*Login screen*/
.login-form{
    display: inline-block;
    margin-right: 3%;
}
.login-form > input{
     display: inline-block;
     width: 40%;
 }

/*Channels screen*/
#channelsScreen{
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

#channelsScreen > h2{
    text-align: center;
    margin-bottom: 2%;
}

#channelsScreen > input{
    width: 70%;
}

#channelsScreen > button{
    width: 15%;
}

/*Channels screen*/
.channel-window{
    margin: 0 auto;
    width: 40%;
    position: absolute;
    bottom: 5%;
    left: 25%;
}

.channel-window > .post-channel-message {
    float: right;
}

.channel-window > .post-channel-message > input {
     display: inline-block;
 }

.channel-window > .post-channel-message > input[type="file"] {
    width: 35%;
}

.channel-window > .post-channel-message > input[type="text"] {
    width: 50%;
}

.channel-window div.date {
    font-size: 0.8em;
}

/*Online users*/
aside{
    float: left;
}

#onlineUsers{
}

/*Private chats*/
.chat-private-user{
    float: right;
}
#accordion{
    position: relative;
    bottom: 0;
}